repos:
  - repo: local
    hooks:
      - id: version-update
        name: 'Version update'
        entry: './scripts/precommit/version_update.sh'
        language: script
        files: ^CMakeLists.txt
      
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v20.1.0
    hooks:
      - id: clang-format
        files: ^(src|tests)/.*\.(c|cc|cpp|h|hpp)$
