name: Tests for Library

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

on: [push, pull_request]

jobs:
  Tests-Viewshed-library:
    runs-on: ubuntu-latest

    env:
      DEBIAN_FRONTEND: "noninteractive"
      QT_QPA_PLATFORM: "offscreen"
      XDG_RUNTIME_DIR: "/tmp"
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    steps:
      - name: Update and Upgrade
        run: |
          sudo apt update
          sudo apt install ninja-build doxygen libgtest-dev libgmock-dev clang

      - name: Install GDAL
        run: |
          sudo add-apt-repository ppa:ubuntugis/ubuntugis-unstable
          sudo apt update
          sudo apt-get -y install gdal-bin libgdal-dev

      - name: Install Qt
        run: |
          sudo apt-get install qtbase5-dev qtbase5-dev-tools qtdeclarative5-dev libqt5svg5-dev

      - uses: actions/checkout@v6
        with:
          # Repository name with owner. For example, actions/checkout
          # Default: ${{ github.repository }}
          repository: "JanCaha/cpp-simplerasters"
          path: "cpp-simplerasters"

      - name: Install simplerasters
        run: |
          cd cpp-simplerasters
          sudo cmake --workflow --preset workflow-release-install
          cd ..
          sudo rm -rf cpp-simplerasters

      - name: Checkout
        uses: actions/checkout@v6
        with:
          submodules: true

      - name: Test
        run: |
          cmake --workflow --preset workflow-debug-tests

      - name: Install
        run: |
          sudo cmake --workflow --preset workflow-release-install
